<?xml version="1.0"?>
<config>
    <modules>
        <Loewenstark_AddressChange>
            <version>1.0.0</version>
        </Loewenstark_AddressChange>
    </modules>
    <global>
        <blocks>
            <ls_addresschange>
                <class>Loewenstark_AddressChange_Block</class>
            </ls_addresschange>
        </blocks>
        <helpers>
            <ls_addresschange>
                <class>Loewenstark_AddressChange_Helper</class>
            </ls_addresschange>
        </helpers>
        <models>
            <ls_addresschange>
                <class>Loewenstark_AddressChange_Model</class>
            </ls_addresschange>
        </models>
        <template>
            <email>
                <addresschange_result module="ls_addresschange">
                    <label>Address Change report template</label>
                    <file>report/addresschange_result.html</file>
                    <type>html</type>
                </addresschange_result>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ls_addresschange>
                    <files>
                        <default>Loewenstark_AddressChange.csv</default>
                    </files>
                </ls_addresschange>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <customer_address_save_before>
                <observers>
                    <ls_addresschange>
                        <type>singleton</type>
                        <class>Loewenstark_AddressChange_Model_Observer</class>
                        <method>beforeAddressSave</method>
                    </ls_addresschange>
                </observers>
            </customer_address_save_before>
        </events>
        <translate>
            <modules>
                <ls_addresschange>
                    <files>
                        <default>Loewenstark_AddressChange.csv</default>
                    </files>
                </ls_addresschange>
            </modules>
        </translate>
    </frontend>
</config>
